<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShoCase</title>
  <script src="https://kit.fontawesome.com/b84e779c40.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Yatra+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
    <header>
      <ul id="slide-out" class="sidenav grey darken-4">
        <li><div class="user-view">
          <a href="/" class="amber-text text-darken-1 navBarTitle">ShoCase</a>
          {{#if loggedIn}}
          <div class="background">
            <img src="images/office.jpg">
          </div>
          <a href="#user"><img class="circle" src="images/yuna.jpg"></a>
          <a href="#name"><span class="white-text name">John Doe</span></a>
          <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
          <button class="amber-text navBtn" id="logout">logout</button>
        </div></li>
       {{else}}
        <br><li><a class="amber-text navBtn" href="/login">Login/Signup</a></li>
        {{/if}}
      <li><a class="amber-text text-accent-1 navBtn" href="/dashboard">Profile</a></li>
      <li><a class="amber-text text-accent-1 navBtn" href="#!">Likes</a></li>
      <li><a class="sidenav-close closeBtn amber-text text-accent-1" href="#!"><i class="xForNav fa-solid fa-x amber-text text-accent-1"></i>Close</a></li>
    </ul>
    <nav class="theNav grey darken-2">
    <div class="logoContainer">
    <img class="logo" src="/images/better_s_logo.png">
    </div>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="menuBar waves-effect waves-light grey-text text-darken-4 fa-solid fa-bars"></i></a>
        <a class="waves-effect waves-light modal-trigger" href="/create-playlists"><i class="addPlaylist grey-text text-darken-4 fa-solid fa-plus"></i></a>

        <i class="magnifyingGlass grey-text text-darken-4 fa-solid fa-magnifying-glass"></i>
        <form type="submit" id="search-submit" class="input-field inline">
        <div class="input-field inline">
            <input id="search_inline" type="text" class="validate" name="term">  
            <label for="search_inline">Search Animes/Playlists</label>
          </div>
          </form>
          {{!-- <button type="submit" id="search-inline-btn">Search</button> --}}
      </nav>
  </header>
        <!-- Conditionally render login or logout links -->
        
        
<body class="grey lighten-2">    
        
    <main class="container">
          
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/mainPage.js"></script>
   {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
