<div class="container">
    <h4>About Us</h4>



    <div class="card hoverable">
        <div class="card-content grey lighten-4">
            <div class="row center-align">
                <h3 class="playlist-title" id="">We are ['Hip', 'Hip']!</h3>
                <h4 class="left-align">Our Mission</h4>
                <p class="custom-margin-top left-align">Hip hip array as a team was created as the ideal dream team.
                    Bringing together multiple star web developers to create a social media platform! Said platform
                    being named "ShoCase". ShoCase allows users to create a series of playlists to share with their
                    friends. Allowing them to make posts regarding their anime recommendations and other users to
                    favorite those posts.</p>
                <h4 class="left-align">How We Met</h4>
                <p class="custom-margin-top left-align">['Hip', 'Hip']™ met during September 2022 at the UCF Full Stack
                    Coding Bootcamp. A group of like-minded web developers that came together for their second project. They de</p>
            </div>
        </div>
    </div>

</div>