<div class="container">
        <h4>About Us</h4>
        <div class="card hoverable">
                <div class="card-content grey lighten-4">
                        <div class="row center-align">
                                <h3 class="playlist-title" id="">We are ['Hip', 'Hip']!</h3>
                                <h4 class="left-align">Our Mission</h4>
                                <p class="custom-margin-top left-align">Hip hip array as a team was created as the ideal
                                        dream team.
                                        Bringing together multiple star web developers to create a social media
                                        platform! Said platform
                                        being named "ShoCase". ShoCase allows users to create a series of playlists to
                                        share with their
                                        friends. Allowing them to make posts regarding their anime recommendations and
                                        other users to
                                        favorite those posts.</p>
                                <h4 class="left-align">How We Met</h4>
                                <p class="custom-margin-top left-align">['Hip', 'Hip']™ met during September 2022 at the
                                        UCF Full Stack
                                        Coding Bootcamp. A group of like-minded web developers that came together for
                                        their second project.
                                        They had been working together in break out rooms and participating in study
                                        groups associated with
                                        each other. This was their very first project together and hopefully not the
                                        last!</p>
                        </div>
                </div>
        </div>

        <h4>Our Team</h4>
        <div class="card hoverable">
                <div class="card-content grey lighten-4">
                        <div class="row center-align">
                                <h3 class="playlist-title" id="">Mateo Wallace</h3>
                                <img class="custom-circle-img" src="./images/mateo_headshot.png">
                                <p class="custom-margin-top left-align">Hello World! I'm Mateo Wallace. I only started
                                        learning coding
                                        about 2 months before I created this project. It's astonishing the amount of
                                        progress and knowledge
                                        we have made as a class and can't wait to see what we can come up with by the
                                        end of the course.</p>
                                <a href="https://github.com/Mateo-Wallace" target="_blank"><button
                                                class="btn amber darken-1 custom-margin-top"
                                                type="submit">GitHub</button></a>
                                <a href="https://www.linkedin.com/in/mateo-wallace-57931b254/" target="_blank"><button
                                                class="btn amber darken-1 custom-margin-top"
                                                type="submit">LinkedIn</button></a>
                                <a href="https://mateo-wallace.github.io/M2-Challenge-Portfolio/"
                                        target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Portfolio</button></a>
                                <a href="https://www.instagram.com/mateo_wallace/" target="_blank"><button
                                                class="btn amber darken-1 custom-margin-top"
                                                type="submit">Instagram</button></a>
                                <a href="https://twitter.com/Magic_Man_Mateo" target="_blank"><button
                                                class="btn amber darken-1 custom-margin-top"
                                                type="submit">Twitter</button></a>
                        </div>
                </div>
        </div>

        <div class="card hoverable">
                <div class="card-content grey lighten-4">
                        <div class="row center-align">
                                <h3 class="playlist-title" id="">Dylan Crowley</h3>
                                <img class="custom-circle-img" src="./images/dylan_image.jpeg">
                                <p class="custom-margin-top left-align">Hey there! My name is Dylan and my interest for coding and programming has been growing non-stop since the start of our bootcamp! This project was such a blast to work on! Our team worked so well together and it was a lot of fun implementing everything we learned up to this point. I'm looking forward to future development of new technologies into this project in the future. Great job to everyone in my team! You guys crushed it!</p>
                                <a href="https://github.com/dcrowdev" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">GitHub</button></a>
                                <a href="https://www.linkedin.com/in/dylan-crowley-3974b8252/" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">LinkedIn</button></a>
                                <a href="https://dcrowdev.github.io/challenge02-Portfolio/" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Portfolio</button></a>
                                <a href="https://twitter.com/dcrowdev" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Twitter</button></a>
                        </div>
                </div>
        </div>

        <div class="card hoverable">
                <div class="card-content grey lighten-4">
                        <div class="row center-align">
                                <h3 class="playlist-title" id="">Benjamin Fein</h3>
                                <img class="custom-circle-img" src="./images/naruto_placeholder.jpeg">
                                <p class="custom-margin-top left-align">Team member description</p>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">GitHub</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">LinkedIn</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Portfolio</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Instagram</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Twitter</button></a>
                        </div>
                </div>
        </div>

        <div class="card hoverable">
                <div class="card-content grey lighten-4">
                        <div class="row center-align">
                                <h3 class="playlist-title" id="">Mary Elenius</h3>
                                <img class="custom-circle-img" src="./images/naruto_placeholder.jpeg">
                                <p class="custom-margin-top left-align">Team member description</p>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">GitHub</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">LinkedIn</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Portfolio</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Instagram</button></a>
                                <a href="#" target="_blank"><button class="btn amber darken-1 custom-margin-top"
                                                type="submit">Twitter</button></a>
                        </div>
                </div>
        </div>


</div>