<div class="container wholeCreate">
<div class="card hoverable createPlaylistCard">
    <div id='createPlaylist' class="card-content">
      <h2 class='amber-text text-darken-1 navBarTitle'>Create a New Playlist</h2>      
      <div class="input-field inline newPlaylistName hide">
            <input id="create_playlist_inline" type="text" class="validate" name="term">  
            <label for="create_playlist_inline">New Playlist Name</label>
          </div>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test1">Anime 1</a></li>
        <li class="tab"><a href="#test2">Anime 2</a></li>
        <li class="tab"><a href="#test3">Anime 3</a></li>
        <li class="tab"><a href="#test4">Anime 4</a></li>
      </ul>
    </div>
    <div class="card-content animeInput grey lighten-4">
      <div id="test1" class="active"><div class="animeDivLast"><div id="animeRow1" class="animeDiv container row">
    
    <div id='anime1Input' class="animeDivInput col s12 m6">
      <div class="card">
        <div class="card-image animeDivImg">

          <div class="input-field inline">
            <input id="anime1_inline" type="text" class="validate" name="term">  
            <label for="anime1_inline">Search Animes</label>
          </div>
          <a id='anime1_btn' class="searchAnimeBtn btn-floating halfway-fab waves-effect waves-light amber" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
  </div>
      <div id="test2"><div class="animeDivLast"><div id="animeRow2" class="animeDiv row container">
    <div id='anime2Input' class="animeDivInput col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime2_inline" type="text" class="validate" name="term">  
            <label for="anime2_inline">Search Animes</label>
          </div>
          <a id='anime2_btn' class="searchAnimeBtn btn-floating halfway-fab waves-effect waves-light amber" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
  </div>
      <div id="test3"><div class="animeDivLast"><div id="animeRow3" class="animeDiv row container">
    <div id='anime3Input' class="animeDivInput col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime3_inline" type="text" class="validate" name="term">  
            <label for="anime3_inline">Search Animes</label>
          </div>
          <a id='anime3_btn' class="searchAnimeBtn btn-floating halfway-fab waves-effect waves-light amber" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
  </div>
      <div id="test4"><div class="animeDivLast"><div id="animeRow4" class="animeDiv row container">
    <div id='anime4Input' class="animeDivInput col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime4_inline" type="text" class="validate" name="term">  
            <label for="anime4_inline">Search Animes</label>
          </div>
          <a id='anime4_btn' class="searchAnimeBtn btn-floating halfway-fab waves-effect waves-light amber" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
  </div>
    </div>
  </div>
  </div>
  <script src="/js/createPlaylist.js"></script>







    
     {{!-- <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <span class="card-title grey-text text-darken-4">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div> --}}