<div class="card hoverable">
    <div id='createPlaylist' class="card-content">
      <h1>Create a New Playlist</h1>      
      <div class="input-field inline">
            <input id="create_playlist_inline" type="text" class="validate" name="term">  
            <label for="create_playlist_inline">New Playlist Name</label>
          </div>
    </div>
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a href="#test1">Test 1</a></li>
        <li class="tab"><a href="#test2">Test 2</a></li>
        <li class="tab"><a href="#test3">Test 3</a></li>
        <li class="tab"><a href="#test4">Test 4</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div id="test1" class="active">  <div id="animeRow1" class="row center-align">
    
    <div id='anime1Input' class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime1_inline" type="text" class="validate" name="term">  
            <label for="anime1_inline">Search Animes</label>
          </div>
          <a id='anime1_btn' class="btn-floating halfway-fab waves-effect waves-light red" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
      <div id="test2"><div id="animeRow2" class="row center-align">
    <div id='anime2Input' class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime2_inline" type="text" class="validate" name="term">  
            <label for="anime2_inline">Search Animes</label>
          </div>
          <a id='anime2_btn' class="btn-floating halfway-fab waves-effect waves-light red" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
      <div id="test3"><div id="animeRow3" class="row center-align">
    <div id='anime3Input' class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime3_inline" type="text" class="validate" name="term">  
            <label for="anime3_inline">Search Animes</label>
          </div>
          <a id='anime3_btn' class="btn-floating halfway-fab waves-effect waves-light red" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
      <div id="test4"><div id="animeRow4" class="row center-align">
    <div id='anime4Input' class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <div class="input-field inline">
            <input id="anime4_inline" type="text" class="validate" name="term">  
            <label for="anime4_inline">Search Animes</label>
          </div>
          <a id='anime4_btn' class="btn-floating halfway-fab waves-effect waves-light red" type="submit"><i class="material-icons">add</i></a>
        </div>
      </div>
    </div>
  </div></div>
    </div>
  </div>

  <script src="/js/createPlaylist.js"></script>







    
     {{!-- <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">

          <span class="card-title grey-text text-darken-4">Card Title</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
  </div> --}}