<div class="row">



    {{!-- Left side of page --}}
    <div class="container col s12 m4 l3" id="profile-info">
        <div class="container" id="profile-info">
            {{!-- Profile image --}}
            <img src="{{user.avatar}}" alt="Profile image" class="circle responsive-img">
            <p>{{user.username}}</p>
            <p>{{user.email}}</p>
        </div>
    </div>

    {{!-- Right side of page with playlists --}}
        <h4 class="center-align">You currently have no playlists created</h4>

</div>