      <div class="modal custom-flexbox-avatar" id="avatar-container">
<div class="avatar-row-1"></div>
<div class="avatar-row-2"></div>
      </div>
      <div class="loginDiv row">
  <div class="col-md-6">
    <h2 class="headings">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="loginText">email:</label>
        <input class="login-form-input form-input grey-text text-lighten-1" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="loginText">password:</label>
        <input class="login-form-input form-input grey-text text-lighten-1" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="loginBtns btn amber darken-1 grey-text text-darken-4" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2 class="headings">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="signupText grey-text text-lighten-1">name:</label>
        <input class="form-input signup-form-input grey-text text-lighten-1" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="signupText grey-text text-lighten-1">email:</label>
        <input class="form-input signup-form-input grey-text text-lighten-1" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="signupText grey-text text-lighten-1">password:</label>
        <input class="form-input signup-form-input grey-text text-lighten-1" type="password" id="password-signup" />
      </div>
      <button
        class="modal-trigger"
        href="#avatar-container"
        id="choose-avatar"
      >Choose Avatar</button>

      <div class="form-group">
        <button class="loginBtns btn amber grey-text text-darken-4" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
<script src="./js/editProfile.js"></script>