      <div class="modal custom-flexbox-avatar" id="avatar-container">
<div class="avatar-row-1"></div>
<div class="avatar-row-2"></div>
      </div>
      <div class="container loginContainer">
      <div class="moveLoginDown"></div>
      <div class="loginDiv row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="email-login" class="loginText">email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <label for="password-login" class="loginText">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn amber darken-1" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup" class="signupText">name:</label>
        <input class="form-input signup-form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup" class="signupText">email:</label>
        <input class="form-input signup-form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup" class="signupText">password:</label>
        <input class="form-input signup-form-input" type="password" id="password-signup" />
      </div>
      <button
        class="modal-trigger"
        href="#avatar-container"
        id="choose-avatar"
      >Choose Avatar</button>

      <div class="form-group">
        <button class="btn amber darken-1" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>
</div>

<script src="./js/login.js"></script>
<script src="./js/editProfile.js"></script>