* {
    margin-top: -10px;
}
.navBtn {
    font-size: 16px !important;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px !important;
    margin-bottom: 10px !important; 
}
.sidenav li>a {
    padding: 10px 32px !important;
    display: flex !important;
    align-items: center !important;
}
.logo {
    height: auto;
    margin-left: 15px;
    max-width: 2%;
    min-width: 6%;
}

.navBarTitle {
    font-family: "Yatra One", sans-serif;
    font-size: 48px; 
}
.user-view {
    margin-top: 20px;
}

.closeBtn {
    font-size: 20px !important;
}

@media screen and (max-width: 1010px) {
    .logo {
    max-width: 3%;
    min-width: 7%;
    }
}

@media screen and (max-width: 840px) {
    .logo {
    max-width: 4%;
    min-width: 8%;
    }
}

@media screen and (max-width: 625px) {
    .logo {
    max-width: 6%;
    min-width: 10%;
    }
}

@media screen and (max-width: 525px) {
    .logo {
    max-width: 8%;
    min-width: 12%;
    }
}



@media screen and (max-width: 405px) {
    .logo {
    max-width: 14%;
    min-width: 18%;
    }
}